<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="Ingresar tarea .."
        [(ngModel)]="taskName"
        (keyup.enter)="addTask()"
      />
      <div class="col-lg-6 offset-lg-3 mt-3">
        <div *ngIf="taskList.length === 0" class="card p-2">
          <h6>No hay tareas para mostrar</h6>
        </div>
        <ul class="list-group">
          <li
            *ngFor="let task of taskList; let i = index"
            class="list-group-item d-flex justify-content-between"
          >
            <span class="cursor" (click)="updateTask(i, task)">
              <i
                [ngClass]="
                  task.estado
                    ? 'fas fa-check-circle text-success'
                    : 'far fa-circle'
                "
              ></i>
              <!-- <i class="far fa-circle"></i>
              <i class="far fa-check-circle"></i> -->
            </span>
            <p [ngClass]="task.estado ? 'text-decoration-line-through' : ''">
              {{ task.nombre }}
            </p>
            <span class="cursor text-danger" (click)="deleteTask(i)">
              <i class="fas fa-trash-alt"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
